
/* General Page Styles
-------------------------------------------------- */

::selection {
	color: #fff;
	text-shadow: none;
	background: $greenAsparagus;
}

.go, .yes, .no, .reset{
	&:hover{
		cursor:pointer;
	}
}

.layout{
	margin-top:3.5em;
	h1{
		font-family: 'Cookie', cursive;
		color: $redAuburn;
		text-align:center;
		font-size:5.5em;
		font-weight: 100;
	}
}

/* Hero Section Styles
-------------------------------------------------- */

.hero{
	background-color: $redAuburn;
	padding: 6em 1em 2em 1em;
	color: $white;
	text-align:center;
	border-bottom: 1em solid $inputBorder;
	a{
		color: $white;
		@include transition(0.3s);
		&:hover{
			color: $redDark;
		}
	}
	h1{
		font-family: 'Cookie', cursive;
		font-size:11em;
		padding-bottom: .5em;
		font-weight: 100;
		letter-spacing: 0.02em;
	}
	h3{
		font-weight:normal;
		line-height: 1.6em;
		font-size: 1.6em;
	}
}

/* Demo Section Styles
-------------------------------------------------- */

.demo-eg{
	text-align:center;
}

.demo-form{
	textarea{
		width:20em;
		margin-top: 1em;
		margin-bottom: 2em;
		height:5em;
	}
	input{
		margin-right: 2em;
	}
}

.demo-sug {
	margin: 2.5em auto;	
	width: 18em;
	height: 5em;	
	position: relative;
	font-size: 1.3em;
	padding: 1em 1em 1.8em 1em;
	line-height: 1.4em;
	border: 0.15em solid $redAuburn;
	color: $redAuburn;
	@include border-radius(0.3em);
}

.demo-sug:after, .demo-sug:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}

.demo-sug:after {
	border-top-color: $redAuburn;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;
}
.demo-sug:before {
	border-top-color: $redAuburn;
	border-width: 36px;
	left: 50%;
	margin-left: -36px;
}

.go, .reset{
	@include border-radius(0.15em);
	@include transition(0.3s);
	padding: 6px 10px;
}

.go{
	font-weight:bold;
	background-color: $redAuburn;
	color: $white;	
	&:hover{
		background-color: darken($redAuburn, 10%);
	}
}

.reset{
	border: 0.15em solid $redAuburn;
	color: $redAuburn;
}