
/* General Page Styles
-------------------------------------------------- */

::selection {
	color: #fff;
	text-shadow: none;
	background: $greenAsparagus;
}


/* Hero Section Styles
-------------------------------------------------- */

.hero{
	background-color: $redAuburn;
	padding: 6em 1em 2em 1em;
	color: $white;
	text-align:center;
	border-bottom: 1em solid $inputBorder;
	a{
		color: $white;
		@include transition(0.3s);
		&:hover{
			color: $redDark;
		}
	}
	h1{
		font-family: 'Cookie', cursive;
		font-size:11em;
		padding-bottom: .5em;
		font-weight: 100;
		letter-spacing: 0.02em;
	}
	h3{
		font-weight:normal;
		line-height: 1.6em;
		font-size: 1.6em;
	}
}